<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabuada de {{ num }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Tabuada do {{ num }}</h1>
    </header>
    <main>
        <table>
            <tbody>
                {% for _, multiplicador, resultado in tabuada %}
                <tr>
                    <td>{{ num }}</td>
                    <td> X </td>
                    <td> {{ multiplicador}} </td>
                    <td> = </td>
                    <td>{{ resultado }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/">Voltar</a>
    </main>
   <footer>
        <p>&copy; {{ ano_atual }} Todos os Direitos Reservados</p>
    </footer>
</body>
</html>
